@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary-color: #8266e8;
}

@layer components {
  .active { @apply text-(--primary-color) font-bold; }
  .btn-primary {
    @apply bg-(--primary-color) px-6 py-2 rounded-md cursor-pointer text-white hover:scale-105 transition;
  }
  .p-top { @apply pt-32; }
  .global-px { @apply px-6 md:px-12; }
}