@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary-color: #8266e8;
}

@layer components {
  .active { @apply text-(--primary-color) font-bold; }

  .btn-primary {
    @apply bg-(--primary-color) px-6 py-2 rounded-md cursor-pointer text-white hover:scale-105 transition;
  }

  .btn-secondery {
    @apply bg-white border-2 border-(--primary-color) px-6 py-2 rounded-md cursor-pointer text-(--primary-color) hover:scale-105 transition;
  }

  .p-top { @apply pt-28; }

  .global-px { @apply px-6 md:px-12; }

  .about-card {
    @apply p-8 rounded-2xl border-2 border-gray-100 hover:border-(--primary-color)/40 hover:-translate-y-2 hover:shadow-md transition;
  }
}